.form {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  align-items: center;
}

label {
  align-self: flex-start;
}

.form > * {
  margin: 10px;
}

.form__text {
  width: 60vw;
  background-color: var(--background-secondary-color);
  border: solid var(--border-color);
  border-radius: 10px;
}

.form > textarea {
  height: 10vh;
  font-size: large;
}

.letterCounter {
  align-self: flex-end;
  font-size: medium;
}

#tag {
  font-size: larger;
}

#submit {
  padding: 2px;
  font-size: x-large;
  background-color: var(--background-secondary-color);
  border: solid var(--border-color);
  border-radius: 10px;
}

#submit:hover {
  transform: scale(1.1);
}
