* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(209, 236, 236);
}

body::-webkit-scrollbar {
  display: none;
}

main {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
}

header {
  background-color: var(--background-primary-color);
  border: solid 5px var(--border-color);
  text-align: center;
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  background-color: var(--background-primary-color);
  border: solid 5px var(--border-color);
  border-radius: 20px;
  padding: 20px;
  margin-top: 30px;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 30px;
  gap: 30px;
}

.main-card__bookmark {
  position: absolute;
  top: -20px;
  right: 0px;
}

.main-card__bookmark:hover {
  transform: scale(1.1);
}

.main-card__question {
  text-align: center;
}

.main-card__answer {
  border: solid 2px black;
  padding: 10px;
  background-color: var(--background-secondary-color);
}

.main-card__answer:hover {
  transform: scale(1.1);
}

.main-card__tags {
  align-self: flex-start;
  margin-left: -10px;
}

.main-card__tags li {
  display: inline;
  border: dashed;
  border-radius: 20px;
  padding: 10px;
  background-color: var(--background-secondary-color);
}

.icon {
  height: 50px;
}

footer {
  border: 5px solid var(--border-color);
  background-color: var(--background-secondary-color);
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav-bar__button {
  width: calc(100% / 3);
  text-align: center;
  padding: 15px;
}

.nav-bar__button:hover {
  background-color: var(--background-primary-color);
}
