:root {
  --main-color: blueviolet;
}

* {
  box-sizing: border-box;
  margin: 0;
}
main {
  padding-left: 20px;
  padding-right: 20px;
}

header {
  background-color: rgb(73, 190, 37);
  border: solid 5px var(--main-color);
  text-align: center;
  /* margin: 10px; */
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main__card {
  border: solid 5px var(--main-color);
  margin-top: 30px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.nav-bar {
  border: solid 5px var(--main-color);
  background-color: azure;
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
}

.nav-bar__button {
  border: solid;
}

img {
  height: 8vh;
}

.main__card--bookmark {
  position: absolute;
  top: -20px;
  right: 0px;
}

.main__card:last-of-type {
  margin-bottom: 10px;
}

.main__card--tags {
  align-self: flex-start;
  margin-left: 0px;
  padding-left: 0;
}

.main__card--tags li {
  display: inline;
  margin-left: 10px;
  border: solid;
  padding: 10px;
}

.main__card--answer {
  border: solid 2px black;
  padding: 10px;
}
