:root {
  --border-color: blueviolet;
  --background-primary-color: aquamarine;
  --background-secondary-color: azure;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
main {
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--background-secondary-color);
}

header {
  background-color: var(--background-primary-color);
  border: solid 5px var(--border-color);
  text-align: center;
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-card {
  background-color: var(--background-primary-color);
  border: solid 5px var(--border-color);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding: 20px;
  padding-top: 30px;
  gap: 30px;
}

.main-card:last-of-type {
  margin-bottom: 10px;
}

.main-card__bookmark {
  position: absolute;
  top: -20px;
  right: 0px;
}

.main-card__bookmark:hover {
  transform: scale(1.1);
}

.main-card__question {
  text-align: center;
}

.main-card__answer {
  border: solid 2px black;
  padding: 10px;
  background-color: var(--background-secondary-color);
}

.main-card__answer:hover {
  transform: scale(1.1);
}

.main-card__tags {
  align-self: flex-start;
  margin-left: 0px;
  padding-left: 0;
}

.main-card__tags li {
  display: inline;
  border: dashed;
  border-radius: 20px;
  padding: 10px;
  background-color: var(--background-secondary-color);
}

img {
  height: 6vh;
  height: 50px;
}
.nav-bar {
  border: 5px solid var(--border-color);
  background-color: var(--background-secondary-color);
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
}

.nav-bar__button {
  width: calc(100% / 3);
  text-align: center;
  padding: 15px;
}

.nav-bar__button:hover {
  background-color: var(--background-primary-color);
}
